/* @import "styles.css";

@import url(https://fonts.googleapis.com/css?family=Raleway); */
body {
  background: linear-gradient(to right, rgba(76,71,198, 1), rgba(165,13,97, 1));
  min-height: 100%;
  color: #fff;
  //@include background-image(radial-gradient(center, #eee 0%,#bbb 100%));
  /* background-image: url('http://isaacsuttell.com/img/justine.jpg'); */
  background-size: cover;
  background-position: center;
  font-family: Raleway, sans-serif;
  margin: 0;
}

a {
  color: white;
}

nav {
  background-color: black;
  height: 50px;
}

ul {
  margin: 0;
  height: 50px;
}

li {
  display: inline;
  padding-top: 5px;
}

#title {
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0.25em;
  padding-left: 67px;
  z-index: 100;
  color: #fff;
}

#subtitle {
  position: absolute;
  top: 350px;
  left: 50px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1.3em;
  padding-left: 100px;
  z-index: 100;
  color: #fff;
}

.center-text {
  text-align: center;
}
